<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "944509"
        versionCode = "10" 
        version     = "0.1.0" >

    <!-- versionCode is optional and Android only -->

    <name>#cubegame</name>

    <description>Simple math game</description>

    <author>Titulus Desiderio</author>

    <gap:platform name="android" />

</widget>
